@using Mağza_Ürün_Takip_Sistemi.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<tblmusteri>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Müşteri Adı</th>
            <th>Müşteri Soyadı</th>
            <th>Şehir</th>
            <th>Bakiye</th>
            <th>İşlemler</th>

        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Ad</td>
                <td>@x.Soyad</td>
                <td>@x.Sehir</td>
                <td>@x.Bakiye</td>
                <td><a href="/Musteri/MusteriiSil/@x.Id" class="btn btn-danger">Sil</a>
                <a href="/Musteri/MusteriGetir/@x.Id" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    @Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new { sayfa }))
    <a href="/Musteri/YeniMusteri" class="btn btn-primary">Yeni Müşteri</a>
