@model Mağza_Ürün_Takip_Sistemi.Models.Entity.tblurunler

@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{
    <h2>Ürün Güncelleme</h2>
    <br />
    @Html.HiddenFor(x => x.Id, new { @class = "form-control" })
    <label>Ürün Adı</label>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    <label>Ürün Markası</label>
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
    <br />
    <label>Ürün Stoğu</label>
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
    <br />
    <label>Ürün Alış Fiyatı</label>
    @Html.TextBoxFor(x => x.AlısFiyat, new { @class = "form-control" })
    <br />
    <label>Ürün Satış Fiyatı</label>
    @Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })
    <br />
    <label>Ürün Kategorisi</label>
    @Html.DropDownListFor(x => x.tblkategori.Id, (List<SelectListItem>)
  ViewBag.urnk, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning" style="margin-top:15px">Güncelle</button>
}
