@model Mağza_Ürün_Takip_Sistemi.Models.Entity.tblsatislar
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h2>Yeni Kategori Ekleme</h2>
    <br />
    <label>Ürün Id</label>
    @Html.DropDownListFor(x => x.tblurunler.Id, (List<SelectListItem>)
    ViewBag.drop, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Urun, "Ürün Id Alanı Boş Bırakılamaz", new { @style = "color:green" })
    <br />
    <label>Personel Id</label>
    @Html.DropDownListFor(x => x.tblpersonel.Id, (List<SelectListItem>)
    ViewBag.drop1, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Personel, "Personel Id Alanı Boş Bırakılamaz", new { @style = "color:green" })
    <br />
    <label>Müşteri Id</label>
    @Html.DropDownListFor(x => x.tblmusteri.Id, (List<SelectListItem>)
    ViewBag.drop2, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Musteri, "Müşteri Id Alanı Boş Bırakılamaz", new { @style = "color:green" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Tarih, "Tarih Alanı Boş Bırakılamaz", new { @style = "color:green" })
    <br />


    <button class="btn btn-info" style="margin-top:15px">Kaydet</button>
</form>

